<div class="p-4">
  <h2 class="font-bold text-2xl">About us</h2>

  <p class="pt-3 text-gray-800">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet consectetur, cumque cupiditate dicta enim esse facere illum impedit minima molestias, nostrum optio porro praesentium repellat sint tempore vel velit?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet consectetur, cumque cupiditate dicta enim esse facere illum impedit minima molestias, nostrum optio porro praesentium repellat sint tempore vel velit?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet consectetur, cumque cupiditate dicta enim esse facere illum impedit minima molestias, nostrum optio porro praesentium repellat sint tempore vel velit?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet consectetur, cumque cupiditate dicta enim esse facere illum impedit minima molestias, nostrum optio porro praesentium repellat sint tempore vel velit?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet consectetur, cumque cupiditate dicta enim esse facere illum impedit minima molestias, nostrum optio porro praesentium repellat sint tempore vel velit?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet consectetur, cumque cupiditate dicta enim esse facere illum impedit minima molestias, nostrum optio porro praesentium repellat sint tempore vel velit?
  </p>

</div>
